/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 13, 2018, 12:33:49 AM
    Author     : Ho Tat Dat Nguyen
*/

.label{
    -fx-text-fill: #c6c6c6;
    -fx-font-weight: bold;
    -fx-border-radius: 20;
}


#textColor1 {
    -fx-fill:  #C6C6C6;
    -fx-font-weight: bold;
    -fx-underline: true;
}

#textColor2{
    -fx-fill: #C6C6C6;
    -fx-font-weight: bold;
}

#textWithStroke{
    -fx-fill: #C6C6C6;
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-stroke: #2b2b2b;
}

.root{
    -fx-background-color: #313335;
}

#labelColor1{
    -fx-text-fill: #ccccff;
    -fx-font-weight: bold;
}

.tab:selected  {
    -fx-text-base-color: white;
    -fx-background-color: #2B2B2B;
    -fx-border-radius: 10 10 0 0;
    -fx-focus-color:  white;
}
.tab-pane>*.tab-header-area>*.tab-header-background
{
   -fx-background-color: #3C3F41;
}

.button {
  -fx-font-weight: bold;
  -fx-text-fill: #c6c6c6;
  -fx-font-size: 14px;
  -fx-text-align: center;
  -fx-cursor: pointer;
  -fx-outline: none;
  -fx-color: #fff;
  -fx-background-color: #535353;
  -fx-border: none;
  -fx-border-radius: 15px;

}

.button:hover {-fx-background-color: #3C3C3C}

.button:pressed {
  -fx-background-color: #2B2B2B;
  -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#tabBG{
    -fx-background-color :  #2B2B2B;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #2B2B2B;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}


.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;

}

 .scroll-bar .increment-arrow,
 .scroll-bar .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.15em 0.0;
}

 .scroll-bar:vertical .increment-arrow,
 .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";
    -fx-padding :0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color :derive(#4D4C4F,10.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}


.scroll-pane > .viewport  {
    -fx-background-color: #2B2B2B;
}

.scroll-pane{
   -fx-background-color: transparent;
}



.menu .label{
    -fx-text-fill: #d5d9ea;
}

.menu-item .label {
    -fx-text-fill : #667377;
}

.menu-bar{
    -fx-background-color: #3C3F41;
}

.menu .label:hover, .menu .label:showing{
    -fx-text-fill: white;
}

.menu:hover, .menu:showing{
    -fx-background-color: transparent;
}

.menu-item{
    -fx-background-color: #353940;
    -fx-padding: 2 10 2 10;

}

.menu-item .label{
    -fx-text-fill: #a8aca6;
}

.menu-item:hover .label{
    -fx-text-fill: white;
}

.context-menu{
    -fx-background-color: #353940;
    -fx-border-color: #121a2a;
}
